:root {
    --boardSide: 350px;
    --pointRadius: 14px;
    --pointColor: #e5e9f5;
    --pointBorderColor: #8499ce;
    --pointHighlightColor: green;
    --lineThickness: 4px;
    --lineColor: #8499ce;
    --squareColor: #101f44;

    --boardOffset: 25px;
}

.board-container {
    position: relative;
    width: var(--boardSide);
    height: var(--boardSide);
    margin: var(--boardOffset) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.game-phase {
    align-items: center;
    justify-content: center;
    width: max-content;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    border: #101f44;
    border-style: solid;
    border-width: calc(var(--lineThickness) / 1.5);
    border-radius: 8px;
    background-color: var(--pointBorderColor);
    box-shadow: 0 0px 0px rgba(255, 0, 0, 0.7);
}

.player-game-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.player-info {
    width: 150px; /* Defina uma largura fixa */
    text-align: center;
    padding: 20px;
    margin-top: -25%;
    font-weight: bold;
    color: #101f44;
    background-color: #f4f4f4;
    border-radius: 10px;
    border-color: #3B82F6;
}

.current-player {
    background-color: yellow;
}

.point {
    position: absolute;
    width: calc(var(--pointRadius)*2);
    height: calc(var(--pointRadius)*2);
    border-radius: 50%;
    color: var(--pointColor);
    background-color: var(--pointColor);
    border: 3px solid var(--pointBorderColor);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    z-index: 5;
}

.point:hover {
    background-color: var(--pointHighlightColor);
}

.point.selected-player1 {
    background-color: #3B82F6; /* Cor diferente para o ponto selecionado */
    border: 2px solid #FFFFFF; /* Adiciona uma borda branca ao ponto selecionado */
}

.point.selected-player2 {
    background-color: crimson; /* Cor diferente para o ponto selecionado */
    border: 2px solid #FFFFFF; /* Adiciona uma borda branca ao ponto selecionado */
}

.line {
    position: absolute;
    background-color: var(--squareColor);
}

.vertical-line {
    width: var(--lineThickness);
    height: 100px;
}

.horizontal-line {
    height: var(--lineThickness);
    width: 100px;
}

.square {
    position: absolute;
    border: var(--lineThickness) solid var(--lineColor);
    background-color: var(--squareColor);
    align-self: center;
}

.small-square {
    width: 150px;
    height: 150px;
}

.medium-square {
    width: 300px;
    height: 300px;
}

.large-square {
    width: 450px;
    height: 450px;
}
