:root {
    --boardSide: 350px;
    --pointRadius: 14px;
    --pointColor: #e5e9f5;
    --pointBorderColor: #8499ce;
    --pointHighlightColor: green;
    --lineThickness: 4px;
    --lineColor: #8499ce;
    --squareColor: #101f44;

    --boardOffset: 25px;
}

.board-container {
    position: relative;
    width: var(--boardSide);
    height: var(--boardSide);
    margin: var(--boardOffset) auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.game-phase {
    align-items: center;
    justify-content: center;
    width: max-content;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 0 auto;
    border: var(--squareColor);
    border-style: ridge;
    border-width: calc(var(--lineThickness) / 1.5);
    border-radius: 8px;
    background-color: var(--pointBorderColor);
}

.game-phase:hover{
    color: #e4e4e4;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 20px var(--pointColor);
}

.player-game-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 70%;
}

.player-info {
    width: max-content;
    text-align: center;
    padding: 10px;
    margin-top: -25%;
    color: var(--squareColor);
    background-color: var(--pointColor);
    border-radius: 10px;
    border-color: var(--lineColor);
    border-width: calc(var(--lineThickness) / 1.5);
    border-style: ridge;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.player-info:hover {
    background-color: #e4e4e4;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px var(--pointBorderColor);
}

.current-player {
    background-color: rgb(0, 255, 42);
}

.point {
    position: absolute;
    width: calc(var(--pointRadius)*2);
    height: calc(var(--pointRadius)*2);
    border-radius: 50%;
    color: var(--pointColor);
    background-color: var(--pointColor);
    border: 3px solid var(--pointBorderColor);
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    z-index: 5;
}

.point:hover {
    background-color: var(--pointHighlightColor);
}

.point.selected-player1 {
    background-color: #3B82F6; /* Cor diferente para o ponto selecionado */
    border: 2px solid #FFFFFF; /* Adiciona uma borda branca ao ponto selecionado */
}

.point.selected-player2 {
    background-color: crimson; /* Cor diferente para o ponto selecionado */
    border: 2px solid #FFFFFF; /* Adiciona uma borda branca ao ponto selecionado */
}

.line {
    position: absolute;
    background-color: var(--squareColor);
}

.vertical-line {
    width: var(--lineThickness);
    height: 100px;
}

.horizontal-line {
    height: var(--lineThickness);
    width: 100px;
}

.square {
    position: absolute;
    border: var(--lineThickness) solid var(--lineColor);
    background-color: var(--squareColor);
    align-self: center;
}

.small-square {
    width: 150px;
    height: 150px;
}

.medium-square {
    width: 300px;
    height: 300px;
}

.large-square {
    width: 450px;
    height: 450px;
}
