* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    filter: none;
}

/*
    # --------- #
    | Home Page |
    # --------- #
*/

.homeBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("./images/Space.gif") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.homeHeader {
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
    padding: 3% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    /* bottom: 3%; */
    text-decoration: none;
    color: #fff;
    user-select: none;
}

.navigation {
    width: 30%;
    display: block;
    text-align-last: justify;
}

.navigation a {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3%;
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigationGame {
    width: 10%;
    display: block;
    text-align-last: justify;
    text-align: right;
}

.navigationGame a {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3%;
    font-size: 1.3em;
    color: #fff;
    text-decoration: none;
}

.navigationGame a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s;
}

.navigationGame a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: url("./images/StarWars.gif") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .25);
}

.home-container .home-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 80px;
    color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.home-content .home-logo {
    font-size: 60px;
}

.home-content h2 i {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.home-text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.home-text-sci h2 span {
    font-size: 25px;
}

.home-text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

.home-social-icons a i {
    font-size: 22px;
    color: #e4e4e4;
    margin-right: 10px;
    transition: .5s ease;
}

.home-social-icons a:hover i {
    transform: scale(1.2);
}