:root {
    --mainSliderBackgroundColor: #3e4f6d;
    --mainSliderHeaderTextColor: #fff;
    --mainSliderTextColor: #fff;
    --mainArrowColor: #e4e4e4;
    --mainArrowHighlightColor: #fff;
    
    --contentTextColor: #fff;
    --subSlidersBackgroundColor: #8499ce;
    --subSlidersHeaderTextColor: #fff;
    --subSlidersIdleDotColor: #d3d3d3;
    --subSlidersSelectedDotColor: #232a44;
    --subSlidersSelectedBorderDotColor: #242b45;
    --subSlidersHoverDotColor: #425371;
    --subSlidersHoverBoxShadowDotColor: #242b45;
}

.rules {
    padding: 40px;
    color: #101f44;
    text-align: center;
}

.rules h3 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--mainSliderHeaderTextColor);
}

.rules h4 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--subSlidersHeaderTextColor);
}

.main-slider-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--mainSliderBackgroundColor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.main-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.topic-slide {
    min-width: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    position: absolute;
}

.topic-slide.active {
    opacity: 1;
    position: relative;
    z-index: 2;
}

.topic-slide.prev {
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
}

.topic-slide.next {
    transform: translateX(100%);
    opacity: 0;
}

.arrow {
    position: absolute;
    margin: 0 0 auto;
    width: 12%;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: var(--mainArrowColor);
    border: none;
    box-shadow: none;
}

.arrow::before {
    content: '\203A';
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.arrow:hover::before {
    transform: scale(1.2);
    color: var(--mainArrowHighlightColor);
}

.left-arrow {
    top: 54%;
    left: calc((100% - 800px) / 4);
    transform: translateY(-50%) rotate(180deg);
}

.right-arrow {
    top: 50%;
    right: calc((100% - 800px) / 4);
    transform: translateY(-50%);
}

.arrow:focus {
    outline: none;
}

.slider-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    color: var(--contentTextColor);
    background-color: var(--subSlidersBackgroundColor);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 320px;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    visibility: hidden;
    vertical-align: middle;
}

.slide p {
    padding: 3px;
}

.slide img {
    width: 18%;
    height: auto;
    display: block;
    opacity: 0;
    margin: 20px auto;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

.slide.active img {
    opacity: 1;
}

.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--subSlidersIdleDotColor);
    z-index: 5;
}

.dot.active{
    background-color: var(--subSlidersSelectedDotColor);
    border-color: var(--subSlidersSelectedBorderDotColor);
}

.dot.active {
    border-style: hidden;
    border-width: 1px;
}

.dot:hover {
    background-color: var(--subSlidersHoverDotColor);
    box-shadow: 0 0 3px var(--subSlidersHoverBoxShadowDotColor)
}